<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mô tả sản phẩm</h1>
    <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">

      </div>
    </div>
  </div>
  
  <div class="col py-3">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/product/description/<%=productId%>">Mô tả</a></li>
            <li class="breadcrumb-item active">Mô tả mới</li>
          </ol>
        </nav>
      </div>
      <div class="col text-end fw-lighter">

      </div>
    </div>
  </div>

  <form action="/product/description/add/<%=productId%>" method="POST" enctype="multipart/form-data">
  
    <div class="row form-group mb-4">
      <div class="col">
        <img id="preview-image" style="display: none;height: 100px;width: 100px;" />
      </div>
    </div>
  
    <div class="row form-group mb-4">
      <div class="col">
        <label for="product_name">Hình ảnh:</label>
        <input type="file" class="form-control" name="image" id="image" onchange="showPreviewImage(event)" required>
      </div>
    </div>
  
    <div class="row form-group mb-4">
  
      <div class="col">
        <label for="color">Tiêu đề:</label>
        <input class="form-control" type="text" id="title"  name="title" required>
  
      </div>
    </div>
  
        <div class="row form-group mb-4">
          <div class="col">
            <label for="quantity">Mô tả:</label>
            <input class="form-control" type="text" id="description" name="description" step="1" min="0" required>
          </div>
        </div>

      
        <div class="form-group mb-4">
          <button type="submit" class="btn btn-primary">Xác nhận</button>
        </div>
  </form>