<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Voucher</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">

    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/voucher">Voucher</a></li>
          <li class="breadcrumb-item active">Thêm Voucher mới</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">

    </div>
  </div>
</div>

<form action="/voucher/insert" method="POST"  >
  

  <div class="row form-group mb-4">
    <div class="col">
      <label style="margin: 5px;" for="lastName">Code</label>
      <input
      type="text"
      class="form-control"
      id="code"
      name="code"
      value=""
      placeholder="Code"
      required
    />
    </div>
    <div class="col">
      <label style="margin: 5px;" for="lastName">Điều kiện sử dụng (VND)</label>
      <input
      type="number"
      class="form-control"
      id="condition"
      name="condition"
      value=""
      placeholder="Điều kiện sử dụng"
      min="0"
      required
    />
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
         
        <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type"  value="0" checked>
            <label class="form-check-label" for="gridRadios1">
              Giảm chi phí vận chuyển
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type"  value="1">
            <label class="form-check-label" for="gridRadios2">
              Giảm giá đơn hàng
            </label>
          </div>
        </div>

    </div>

  </div>

  <div class="row form-group mb-4">
    <div class="col">
         
            <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="discount_type"  value="0" checked>
                <label class="form-check-label" for="gridRadios1">
                  Giảm tiền mặt(VND)
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="discount_type"  value="1">
                <label class="form-check-label" for="gridRadios2">
                  Giảm theo(%)
                </label>
              </div>
            </div>

    </div>

  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label style="margin: 5px;" for="lastName">Giá trị</label>
      <input
      type="text"
      class="form-control"
      id="discount_value"
      name="discount_value"
      value=""
      placeholder="Discount value"
      min="0"
      required
    />
    </div>
    <div class="col">
        <label style="margin: 5px;" for="lastName">Ngày hết hạn</label>
        <input
        type="date"
        class="form-control"
        id="expiration_date"
        name="expiration_date"
        value=""
        placeholder="Expiration date"
        required
      />
      </div>
  </div>

  <div class="row form-group mb-4">
  
    <div class="col">
        <label style="margin: 5px;" for="lastName">Mô tả</label>
        <input
        type="text"
        class="form-control"
        id="description"
        name="description"
        value=""
        placeholder="Description"
        required
      />
      </div>
  </div>

  
 

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Xác nhận</button>
  </div>
</form>
