<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link " href="/bill/dashboard">
          <i class="bi bi-building-check"></i>
          Dashboard
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " aria-current="page" href="/product">
          <i class="bi bi-box-seam"></i>
          Product
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/user">
          <i class="bi bi-person-gear"></i>
          User
        </a>
      </li> 
      <li class="nav-item">
        <a class="nav-link " href="/bill/?status=0">
          <i class="bi bi-receipt-cutoff"></i>
          Bill
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/brand">
          <i class="bi bi-window-split"></i>
          Brand
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/banner">
          <i class="bi bi-journal-richtext"></i>
          Banner
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/notification">
          <i class="bi bi-bell"></i>
          Notification
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/voucher">
          <i class="bi bi-tags"></i>
          Voucher
        </a>
      </li> 

      <li class="nav-item">
        <a class="nav-link " href="/user/logout">
          <i class="bi bi-box-arrow-right"></i>
          Logout
        </a>
      </li> 
    
    
    </ul>
  </div>
</nav>