<div style="margin-top: 50px;text-align: center;height: 500px;height: 500px; justify-content: center;"  >
     
    <h4 style="padding-top: 30px;padding-bottom: 30px;"> Are you sure you want to sign out?</h4>
    <a class="btn btn-primary" href="/user/logoutP">Logout</a>
   
</div>