<!----------------------- Main Container -------------------------->

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!----------------------- Login Container -------------------------->

    <div class="row border rounded-5 p-3 bg-white shadow box-area" style="width: 450px;">


        <div class="col-md-12 right-box">
            <div class="row align-items-center">
                <div class="align-items-center header-text mb-4">
                    <h2>Nhập mật khẩu mới</h2>
                </div>
                <lable style="color: red;"><%= error %></lable>
                <form name="register-form" method="post" action="/user/passwd">
                    <div class="input-group mb-3">
                        <input id="pass1" name="password1" type="password" 
                            class="form-control form-control-lg bg-light fs-6" placeholder="Password" required>
                    </div>
                    <div class="input-group mb-3">
                        <input id="pass2" type="password" class="form-control form-control-lg bg-light fs-6"
                          name="password" placeholder="Repeat password" required>
                    </div>

                    <input type="text" hidden id="username" name="username" value="<%= username %>">

                    <div class="input-group mb-3">
                        <button type="submit" class="btn btn-lg btn-primary w-100 fs-6">Submit</button>
                    </div>
                </form>

                <div class="row">
                    <small>Go back to <a href="/user/login">Sign In</a></small>
                </div>
            </div>
        </div>

    </div>
</div>


